## Q1. Why do we call Python as a general purpose and high-level programming language?

A general-purpose language is a computer language that is broadly applicable across application domains, and lacks specialized features for a particular domain.
Python is a general-purpose language, meaning it can be used to create a variety of different programs and isn't specialized for any specific problems. This versatility, along with its beginner-friendliness.

## Q2. Why is Python called a dynamically typed language?

In Python, we dont have to specifically define the data type of a variable before assignment. The data type of a variable is defined during the run time and is assigned to the variable. So it is called dynamically typed language.

## Q3. List some pros and cons of Python programming language?

**Pros of a Python**

Python is beginner friendly,Large community, Extensive library,Highly scalable, dynamic language, and can be embedded

**Cons of a Python**

Slower than compiled languages, High Memory Consumption,Speed and non native mobile environment

## Q4. In what all domains can we use Python?

**Python can be used in **

Application Development

Gaming

Machine learning & AI

Automation

Web scrapping

GUI Applications

Web applications

NLP

Scientific Programming Etc.,

##  Q5. What are variable and how can we declare them?

Variable are named that are assigned to a value in python and can be used to acces the value by calling the variable

## Q6. How can we take an input from the user in Python?

We use **input()** function to take an input from the user

## Q7. What is the default datatype of the value that has been taken as an input using input() function?

The default type of input function is string data type

## Q8. What is type casting?

Changing the datatype of variable/value from one data type to other is called type casting

## Q9. Can we take more than one input from the user using single input() function? If yes, how? If no, why?

Yes,We can take multiple inputs with a single input function by using **split()** function

## Q10. What are keywords?

Python keyword is specially reserved words with specific meanings and purposes. They are different from built-in functions and types.

## Q11. Can we use keywords as a variable? Support your answer with reason.

No, We cannot use keywords as variables , As the keywords are already assigned to a specific function in pythob,if we use the same keyword again for a different task, it'll give an error and cannot be executed

## Q12. What is indentation? What's the use of indentaion in Python?

Indentation refers to the spaces at the beginning of a code line. the indentation in Python is very important. Python uses indentation to indicate a block of code.

## Q13. How can we throw some output in Python?

We can display an output by using **print()** function in Python

## Q14. What are operators in Python?

In Python, operators are special symbols that designate that some sort of computation should be performed. The values that an operator acts on are called operands.
Example; +,-,*,/,<,>.......

## Q15. What is difference between / and // operators?

In Python '/' is used for division and '//' is used for floor division

## Q16. Write a code that gives following as an output.

In [3]:
'iNeuron'*4

'iNeuroniNeuroniNeuroniNeuron'

## Q17. Write a code to take a number as an input from the user and check if the number is odd or even.

In [5]:
num = int(input('Enter a number : '))
if num%2==0:
    print(num, ' is an Even number')
else:
    print(num, ' is an Odd number')

Enter a number : 10
10  is an Even number

## Q18. What are boolean operator?

Boolean is a type of value that can be either **True** or **False**,  logical operators **and**, or **and** **not** are referred to as boolean operators

## Q19. What will the output of the following?

1 or 0

0 and 0

True and False and True

1 or 0 or 0

In [6]:
1 or 0

1

In [7]:
0 and 0

0

In [8]:
True and False and True

False

In [9]:
1 or 0 or 0

1

## Q20. What are conditional statements in Python?

Conditional Statement in Python perform different computations or actions depending on whether a specific Boolean constraint evaluates to true or false. Conditional statements are handled by IF and ELSE statements in Python

## Q21. What is use of 'if', 'elif' and 'else' keywords?

If-elif-else statement is used in Python for decision-making i.e the program will evaluate test expression and will execute the remaining statements only if the given test expression turns out to be true. This allows validation for multiple expressions.

## Q22. Write a code to take the age of person as an input and if age >= 18 display "I can vote". If age is < 18 display "I can't vote".

In [10]:
age = int(input('Enter an age of a person: '))
if age >= 18:
    print('I can Vote')
elif age < 18:
    print("I can't Vote")
else:
    print('Please enter a valid age')

Enter an age of a person: 19
I can Vote

## Q23. Write a code that displays the sum of all the even numbers from the given list.

## numbers = [12, 75, 150, 180, 145, 525, 50]

In [11]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
    if i%2==0:
        print(i)

12
150
180
50

## Q24. Write a code to take 3 numbers as an input from the user and display the greatest no as output.

In [14]:
a = int(input('Enter a number: '))
b = int(input('Enter a number: '))
c = int(input('Enter a number: '))

if a>b>c:
    print(a)
elif b>a>c:
    print(b)
else:
    print(c)

Enter a number: 4
Enter a number: 8
Enter a number: 10
10

## Q25. Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five

If the number is greater than 150, then skip it and move to the next number

If the number is greater than 500, then stop the loop

In [16]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if i > 500:
        break
    elif i > 150:
        pass
    elif i %5==0:
        print(i)

75
150
145

## Q26. What is a string? How can we declare string in Python?

String is a data type in python which consists of mixed charecters of alphabets,numbers or special charecters enclosed in quotes. We define string using single, double or triple quotes in python

## Q27. How can we access the string using its index?

Strings can be accesed using its index values by passing the position in square brackets. Ex: string[1]

## Q28. Write a code to get the desired output of the following

string = "Big Data iNeuron"
desired_output = "iNeuron"

In [57]:
string = "Big Data iNeuron" 
string[9:]

'iNeuron'

## Q29. Write a code to get the desired output of the following

string = "Big Data iNeuron"
desired_output = "norueNi"

In [61]:
string = "Big Data iNeuron"
string[9:][::-1]

'norueNi'

## Q30. Resverse the string given in the above question.

In [62]:
string[::-1]

'norueNi ataD giB'

## Q31. How can you delete entire string at once?

In [64]:
del string
string

NameError: name 'string' is not defined

## Q32. What is escape sequence?

Character combinations consisting of a backslash (\) followed by a letter or by a combination of digits are called "escape sequences." To represent a newline character, single quotation mark, or certain other characters in a character constant, you must use escape sequences.

In [83]:
string = 'escape \'sequence\'example'
string

"escape 'sequence'example"

## Q33. How can you print the below string?

'iNeuron's Big Data Course'

In [65]:
print("iNeuron's Big Data Course" )

iNeuron's Big Data Course

## Q34. What is a list in Python?

A list is a typeof data collection in python which can contain mixed data types, lists are ordered,mutable and can allow duplicate values. list is a collection of values enclosed in square brackets

## Q35. How can you create a list in Python?

Lists can be created by using square brackets **[ ]** or **list()** function

## Q36. How can we access the elements in a list?

elements of list can be accessed by index position. Ex: **list_name[index_position]**, **lst[1]** will give the first element from the list.

## Q37. Write a code to access the word "iNeuron" from the given list.

lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

In [66]:
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

lst[4][2]

'iNeuron'

## Q38. Take a list as an input from the user and find the length of the list.

In [69]:
lst = input('Enter values seperated by space : ').split()

Enter values seperated by space : 1 2 3 4 5 6 7 8 9

In [70]:
len(lst)

9

## 39. Add the word "Big" in the 3rd index of the given list.

lst = ["Welcome", "to", "Data", "course"]

In [71]:
lst = ["Welcome", "to", "Data", "course"]
lst.insert(3,'Big')
lst

['Welcome', 'to', 'Data', 'Big', 'course']

## Q40. What is a tuple? How is it different from list?

Tuples is a collection type in python, it is a collection of elements enclosed in parenthesis. These are immutable and this makes it different from the list

## Q41. How can you create a tuple in Python?

Tuples can be created either by using brackets **( )** or **tuple()** function

## Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.

In [73]:
tup = ('Ram','Ramesh','Raghu','Raju')
tup.insert(3,'Raj')

# We cannot add elements to tuple as these are mutable

AttributeError: 'tuple' object has no attribute 'insert'

## Q43. Can two tuple be appended. If yes, write a code for it. If not, why?

In [81]:
tup1 = ('Ram','Ramesh')
tup2 = ('Raghu','Raju')
tup1+tup2

('Ram', 'Ramesh', 'Raghu', 'Raju')

## Q44. Take a tuple as an input and print the count of elements in it.

In [74]:
tup = ('Ram','Ramesh','Raghu','Raju')
len(tup)

4

## Q45. What are sets in Python?

Sets are another type of data collection in python, sets are unordered, and will not allow duplicates

## Q46. How can you create a set?

Sets can be created using curly braces **{ }** or **set()** function

## Q47. Create a set and add "iNeuron" in your set.

In [75]:
set1 = {'Ram','Ramesh','Raghu','Raju'}
set1.add('iNeuron')
set1

{'Raghu', 'Raju', 'Ram', 'Ramesh', 'iNeuron'}

## Q48. Try to add multiple values using add() function.

In [78]:
set1 = {'Ram','Ramesh','Raghu','Raju'}
set1.add('iNeuron','big data')
set1
# multiple items cant be added into a set using add function

TypeError: add() takes exactly one argument (2 given)

In [80]:
set1 = {'Ram','Ramesh','Raghu','Raju'}
set1.update(['iNeuron','big data'])
set1

{'Raghu', 'Raju', 'Ram', 'Ramesh', 'big data', 'iNeuron'}

## Q49. How is update() different from add()?

We use **add()** method to add single value to a set. We use **update()** method to add multiple values to a set.

## Q50. What is clear() in sets?

**clear()** is a function used to remove all elements of a set

## Q51. What is frozen set?

frozenset() is a Method that creates an immutable Set object from a list or a sequence. It is a built-in Python function.

## Q52. How is frozen set different from set?

frozensets are immutable and it is hashable. It is also called an immutable set. Since the elements are fixed, unlike sets you can't add or remove elements from the set.

## Q53. What is union() in sets? Explain via code.

The union() method returns a set that contains all items from the original set, and all items from the specified set(s).

In [84]:
set1 = {1,2,3,4}
set2 = {5,6,7,8,9}
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## Q54. What is intersection() in sets? Explain via code.

In [86]:
# Intersection gives only the common elements of both the sets
set1 = {1,2,3,4,5}
set2 = {5,6,7,8,9}
set1.intersection(set2)

{5}

## Q55. What is dictionary ibn Python?

Dictionary is a data collection type in python. it stores in a key value pair enclosed in a curly brackets. Ex: dict1 = {'Key':'Value'}

## Q56. How is dictionary different from all other data structures.

Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
While other Data Structures use only one value as the element, the dictionary is a slightly more compound data structure. It makes use of two elements i.e. a pair of elements, namely, a key and a value

## Q57. How can we delare a dictionary in Python?

Dictionary can be delared by using curly brackets **{ }** and passing key value pairs or by using **dict()** function

## Q58. What will the output of the following?

var = {}
print(type(var))

In [88]:
var = {}
print(type(var))

<class 'dict'>

## Q59. How can we add an element in a dictionary?

New element can be added by inserting a new index key into the dictionary, then assigning it a particular value
Ex : **dictionary_name[key]=value**

## Q60. Create a dictionary and access all the values in that dictionary.

In [90]:
dict1 = {'one':1,'two':2,'three':3,'four':4}
print(dict1.values())

dict_values([1, 2, 3, 4])

## Q61. Create a nested dictionary and access all the element in the inner dictionary.

In [96]:
dict1 = {'numbers':{1,2,3,4,5}}
dict1['numbers']

{1, 2, 3, 4, 5}

## Q62. What is the use of get() function?

In [97]:
# get() method is used in Python to retrieve a value from a dictionary. which give the index position of the key 
dict1 = {'one':1,'two':2,'three':3,'four':4}
dict1.get('one')

1

## Q63. What is the use of items() function?

**items()** function is used to get the key value pairs from the dictionary. it give the values in the form of tuples

In [98]:
dict1.items()

dict_items([('one', 1), ('two', 2), ('three', 3), ('four', 4)])

## Q64. What is the use of pop() function?

**pop()** function is used to remove elements from the dictionary

## Q65. What is the use of popitems() function?

dict1.popitem() is used to remove last inserted item and return the items as an outpt

## Q66. What is the use of keys() function?

**keys()** function is used to access all the keys of a dictionary

## Q67. What is the use of values() function?

**values()** function is used to access all the values from a dictionary

## Q68. What are loops in Python?

loops in python are controlled statements that are used to repeatedly execute the statements

## Q69. How many type of loop are there in Python?

There are two types of loops in python. for loop and while loop

## Q70. What is the difference between for and while loops?

for loop is used when the number of iterations is known, whereas execution is done in the while loop until the statement in the program is proved wrong

## Q71. What is the use of continue statement?

The continue keyword is used to end the current iteration in a for loop (or a while loop), and continues to the next iteration.

## Q72. What is the use of break statement?

Break statement is used to break the loop

## Q73. What is the use of pass statement?

pass statement is used as a placeholder for future code. When the pass statement is executed, nothing happens, but you avoid getting an error when empty code is not allowed.

## Q74. What is the use of range() function?

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

## Q75. How can you loop over a dictionary?

You can loop through a dictionary by using a for loop. When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

## Q76. Write a Python program to find the factorial of a given number.

In [105]:
def fact(num):
    fact = 1
    for i in range(num):
        fact = fact*num
        num=num-1
    return fact

In [108]:
fact(5)

120

## Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (PRT)/100

In [109]:
def simpleinterest(p,r,t):
    SI = (p*r*t)/100
    return SI

In [111]:
simpleinterest(10000,5,1)

500.0

## Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.

In [119]:
def compound_interest(p,r,t):
    amount = p*(1+r/100)**t
    return amount-p

In [125]:
compound_interest(10000,5,5)

2762.815625000003

## Q79. Write a Python program to check if a number is prime or not.

In [126]:
def prime(num):
    n = 0
    for i in range(2,num):
        if num%i ==0:
            return False
        else:
            return True

In [128]:
prime(11)

True

## Q80. Write a Python program to check Armstrong Number.

In [136]:
def armstrong(num):
    s = 0
    for i in str(num):
        s = s+ int(i)**3
        
    if s==num:
        return True
    else:
        return False

In [137]:
armstrong(371)

True

## Q81. Write a Python program to find the n-th Fibonacci Number

In [139]:
def fibonacci(n):
    f = [0,1]
    for i in range(2,n+1):
        f.append(f[i-1] + f[i-2])
    return f[n]

In [142]:
fibonacci(11)

89

## Q82. Write a Python program to interchange the first and last element in a list.

In [152]:
lst = [1,2,3,4,5,6,7,8,9]
def inter_change(lst):
    first_element = lst[0]
    last_element = lst[-1]
    lst = lst[1:-1]
    lst.insert(0,last_element)
    lst.append(first_element)
    return lst

In [153]:
inter_change(lst)

[9, 2, 3, 4, 5, 6, 7, 8, 1]

## Q83. Write a Python program to swap two elements in a list

In [155]:
def swapPositions(list, pos1, pos2):
    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list

In [156]:
swapPositions(lst,2,3)

[1, 2, 4, 3, 5, 6, 7, 8, 9]

## Q84. Write a Python program to find N largest element from a list.

In [162]:
def n_largest(lst,n):
    return sorted(lst,reverse=True)[n-1]

In [164]:
n_largest(lst,1)

9

## Q85. Write a Python program to find cumulative sum of a list.

In [166]:
def cum_sum(lst):
    sum1 = 0
    for i in lst:
        sum1 +=i
    return sum1

In [167]:
cum_sum(lst)

45

## Q86. Write a Python program to check if a string is palindrome or not.

In [168]:
def palindrome(string):
    if string == string[::-1]:
        return True
    else:
        return False

In [171]:
palindrome('civic')

True

## Q87. Write a Python program to remove i'th element from a string.

In [172]:
def remove_i(string,n):
    str1 = ''
    for i in range(len(string)):
        if i != n-1:
            str1 += string[i]
    return str1

In [173]:
remove_i('taest',2)

'test'

## Q88. Write a Python program to check if a substring is present in a given string.

In [174]:
def check(sub_string,string):
    if string.find(sub_string) == -1:
        return "Not Present"
    else:
        return "Present"

In [175]:
check('sub','substring')

'Present'

## Q89. Write a Python program to find words which are greater than given length k.

In [176]:
def check_words(lst,k):
    for i in lst:
        if len(i)> k:
            print(i)

In [177]:
check_words(['apple','bat','in','i','four','five'],3)

apple
four
five

## Q90. Write a Python program to extract unquire dictionary values.

In [182]:
dict2 = {'one': 1, 'two': 2, 'three': 3, 'four': 4,'five':4,'six':3}
set(dict2.values())

{1, 2, 3, 4}

## Q91. Write a Python program to merge two dictionary.

In [186]:
d1 = {'one':1}
d2 = {'two':2}

In [187]:
d1.update(d2)

In [188]:
d1

{'one': 1, 'two': 2}

## Q92. Write a Python program to convert a list of tuples into dictionary.

Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

In [189]:
tup = [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
dict(tup)

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

## Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.

Input: list = [9, 5, 6]
Output: [(9, 729), (5, 125), (6, 216)]

In [192]:
l = []
lst = [9,5,6]
for i in lst:
    l.append(tuple([i,i**3]))
    
print(l)

[(9, 729), (5, 125), (6, 216)]

## Q94. Write a Python program to get all combinations of 2 tuples.

Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

In [193]:
test_tuple1 = (7, 2)
test_tuple2 = (7, 8)
res =  [(a, b) for a in test_tuple1 for b in test_tuple2]
res = res +  [(a, b) for a in test_tuple2 for b in test_tuple1]

In [194]:
res

[(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

## Q95. Write a Python program to sort a list of tuples by second item.

Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]

In [195]:
inp = [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
def sorta(lst):
    lst.sort(key = lambda a: a[1]) 
    return lst

In [196]:
sorta(inp)

[('Geeks', 8), ('for', 24), ('Geeks', 30)]

## Q96. Write a python program to print below pattern.

'''* 
* * 
* * * '
* * * * '
* * * * *'''

In [198]:
for i in range(6):
    print(i*' *')

 *
 * *
 * * *
 * * * *
 * * * * *

## Q97. Write a python program to print below pattern.

    *'
   **'
  ***'
 ****'
*****'

In [207]:
n = 1
for i in range(5,0,-1):
    print(str((i-1) * ' ') +str(n*'*'))
    n = n+1

    *
   **
  ***
 ****
*****

## Q98. Write a python program to print below pattern.

    * 
   * * 
  * * * 
 * * * * 
* * * * *

In [213]:
rows = 5
m = (2 * rows) - 2
for i in range(0, rows):
    for j in range(0, m):
        print(end=" ")
    # decrementing m after each loop
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

        *
       *  *
      *  *  *
     *  *  *  *
    *  *  *  *  *

## Q99. Write a python program to print below pattern.

1 

1 2 

1 2 3 

1 2 3 4 

1 2 3 4 5

In [211]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print(' ')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## Q100. Write a python program to print below pattern.

A 
B B 
C C C 
D D D D 
E E E E E

In [218]:

ascii_number = 65
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        character = chr(ascii_number)
        print(character, end=' ')
    ascii_number += 1
    print(" ")

A
B B
C C C
D D D D
E E E E E